<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login page</title>
</head>
<body>
    <%-include('common/header') %>
    <label for="username">Username</label>
    <input type="text">
    <label for="city">City</label>
    <input type="text">
    
</body>
</html>